@charset "UTF-8";

@font-face {
  font-family: IBMPlexMono;
  font-display: swap;
  src: url("../fonts/IBMPlexMono-Bold.woff2") format("woff2"), url("../fonts/IBMPlexMono-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: IBMPlexMono;
  font-display: swap;
  src: url("../fonts/IBMPlexMono-ExtraLight.woff2") format("woff2"), url("../fonts/IBMPlexMono-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: IBMPlexMono;
  font-display: swap;
  src: url("../fonts/IBMPlexMono-Medium.woff2") format("woff2"), url("../fonts/IBMPlexMono-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: IBMPlexMono;
  font-display: swap;
  src: url("../fonts/IBMPlexMono-Regular.woff2") format("woff2"), url("../fonts/IBMPlexMono-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: IBMPlexMono;
  font-display: swap;
  src: url("../fonts/IBMPlexMono-SemiBold.woff2") format("woff2"), url("../fonts/IBMPlexMono-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: IBMPlexMono;
  font-display: swap;
  src: url("../fonts/IBMPlexMono-Light.woff2") format("woff2"), url("../fonts/IBMPlexMono-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: IBMPlexMono;
  font-display: swap;
  src: url("../fonts/IBMPlexMono-Thin.woff2") format("woff2"), url("../fonts/IBMPlexMono-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: IBMPlexSans;
  font-display: swap;
  src: url("../fonts/IBMPlexSans-Bold.woff2") format("woff2"), url("../fonts/IBMPlexSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: IBMPlexSans;
  font-display: swap;
  src: url("../fonts/IBMPlexSans-ExtraLight.woff2") format("woff2"), url("../fonts/IBMPlexSans-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: IBMPlexSans;
  font-display: swap;
  src: url("../fonts/IBMPlexSans-Light.woff2") format("woff2"), url("../fonts/IBMPlexSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: IBMPlexSans;
  font-display: swap;
  src: url("../fonts/IBMPlexSans-Medium.woff2") format("woff2"), url("../fonts/IBMPlexSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: IBMPlexSans;
  font-display: swap;
  src: url("../fonts/IBMPlexSans-Regular.woff2") format("woff2"), url("../fonts/IBMPlexSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: IBMPlexSans;
  font-display: swap;
  src: url("../fonts/IBMPlexSans-SemiBold.woff2") format("woff2"), url("../fonts/IBMPlexSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Сirce;
  font-display: swap;
  src: url("../fonts/Сirce-Regular.woff2") format("woff2"), url("../fonts/Сirce-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: IBMPlexSans;
  font-display: swap;
  src: url("../fonts/IBMPlexSans-Thin.woff2") format("woff2"), url("../fonts/IBMPlexSans-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

*,
*::before,
*::after {
  font-family: IBMPlexMono;
  line-height: 1;
  outline: none;
  box-sizing: border-box;
  font-weight: normal;
}

a,
a:hover {
  text-decoration: none;
}

.container {
  max-width: 1140px;
  padding: 0 30px;
  margin: 0 auto;
}

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  visibility: hidden;
  z-index: 9;
  transition: 0.3s opacity, 0s visibility 0.3s;
}

.overlay.-visible {
  opacity: 1;
  visibility: visible;
  transition: 0.3s opacity, 0s visibility 0s;
}

.header {
  padding: 16px 0;
  margin-bottom: 56px;
}

.header__logo {
  display: block;
  width: 147px;
}

.header__logo > img {
  width: 100%;
}

.basic {
  margin-bottom: 40px;
}

.basic__title {
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: -0.02em;
  color: #000000;
  text-align: center;
  max-width: 677px;
  margin: 0 auto 20px;
}

.basic__subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #000000;
  text-align: center;
  max-width: 677px;
  margin: 0 auto 46px;
}

.basic__subtitle.-present {
  max-width: 100%;
  margin-bottom: 34px;
}

.basic .slider {
  position: relative;
  margin: 0 -15px 47px;
  border-radius: 22px;
  overflow: hidden;
}

.basic .slider__slide {
  height: 320px;
  width: 320px !important;
  background-size: cover;
  background-position: center;
  border-radius: 22px;
}

.basic .slider .arrows {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  z-index: 5;
}

.basic .slider .arrows__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #ffffff;
}

.basic .slider .arrows__item:not(:last-child) {
  margin-right: 8px;
}

.basic .slider .arrows__item > img {
  width: 24px;
  transition: 0.3s transform;
}

.basic .slider .arrows__item.-prev:hover > img {
  transform: translateX(-5px);
}

.basic .slider .arrows__item.-next:hover > img {
  transform: translateX(5px);
}

.basic__count {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 422px;
  width: 100%;
  height: 60px;
  border-radius: 12px;
  border: 2px solid #000000;
  margin: 0 auto;
  font-weight: 600;
  font-size: 16px;
  color: #000000;
}

.basic__count > img {
  width: 24px;
  margin-left: 13px;
  transition: 0.3s transform;
}

.basic__count:hover > img {
  transform: translateX(20px);
}

.review {
  padding: 35px 0;
  background-color: #F2F6FF;
}

.review__title {
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #000000;
  margin: 0 0 32px;
}

.review__list {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.review .item {
  display: flex;
  flex-direction: column;
  width: calc((100% - 24px) / 2);
  padding: 20px 25px 20px 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.review .item__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #000000;
  margin-bottom: 12px;
}

.review .item .user {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.review .item .user__photo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid #D6D6D6;
  background-size: cover;
  background-position: center;
  margin-right: 16px;
}

.review .item .user__name {
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  color: #0057FF;
  margin: 0 0 5px;
}

.review .item .user__raiting {
  display: flex;
  align-items: center;
}

.review .item .user__raiting::after {
  content: attr(data-raiting);
  font-family: IBMPlexSans;
  font-weight: 600;
  font-size: 16px;
  color: #000000;
  margin-left: 10px;
}

.review .item .user__star {
  width: 18px;
  height: 18px;
  -webkit-mask-image: url(../img/star-solid.svg);
  -webkit-mask-position: center;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  background-color: #f7a238;
}

.review .item .user__star:not(:last-child) {
  margin-right: 3px;
}

.review .item .repair {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.review .item .repair__title {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #000000;
  margin-bottom: 7px;
}

.review .item .repair__title::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #F7A238;
  margin-right: 8px;
}

.review .item .repair__text {
  font-family: IBMPlexSans;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
  margin: 0;
}

.review .item .plus {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.review .item .plus__title {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  margin-bottom: 7px;
}

.review .item .plus__title > img {
  width: 10px;
  margin-right: 10px;
}

.review .item .plus__text {
  font-family: IBMPlexSans;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #333333;
  margin: 0;
}

.review .item .minus {
  display: flex;
  flex-direction: column;
}

.review .item .minus__title {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  margin-bottom: 7px;
}

.review .item .minus__title > img {
  width: 5px;
  margin-right: 10px;
}

.review .item .minus__text {
  font-family: IBMPlexSans;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #333333;
  margin: 0;
}

.footer {
  padding: 30px 0;
  background-color: #232323;
}

.footer__row {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.footer .col {
  width: calc((100% - 120px) / 4);
}

.footer .col__name {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  margin: 0 0 6px;
}

.footer .col__list {
  margin: 0;
  padding: 0;
}

.footer .col__item {
  list-style: none;
}

.footer .col__item > a {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #878787;
  transition: 0.3s color;
}

.footer .col__item:hover > a {
  color: #ffffff;
}

.footer .col__item:not(:last-child) {
  margin-bottom: 6px;
}

.footer__hr {
  background-color: #bbbbbb;
  height: 1px;
  border: none;
  margin: 26px 0 30px;
}

.footer__bottom {
  display: flex;
  align-items: center;
}

.footer__develop {
  font-family: Сirce;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #878787;
  margin-right: 57px;
}

.footer .menu {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

.footer .menu__item {
  list-style: none;
}

.footer .menu__item:not(:last-child) {
  margin-right: 12px;
}

.footer .menu__item:not(:first-child) > a::before {
  content: "";
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #878787;
  margin-right: 12px;
}

.footer .menu__item > a {
  display: flex;
  align-items: center;
  font-family: Сirce;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #878787;
  transition: 0.3s color;
}

.footer .menu__item:hover > a {
  color: #ffffff;
}

.modal {
  position: fixed;
  left: 50%;
  top: 100px;
  transform: translateX(-50%);
  background-color: #ffffff;
  max-width: 800px;
  width: 100%;
  border-radius: 22px;
  opacity: 0;
  visibility: hidden;
  z-index: 10;
  transition: 0.3s opacity, 0s visibility 0.3s;
}

.modal.-visible {
  opacity: 1;
  visibility: visible;
  transition: 0.3s opacity, 0s visibility 0s;
}

.modal__container {
  position: relative;
  padding: 24px 30px;
}

.modal__title {
  display: inline-block;
  font-family: IBMPlexSans;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: #000000;
  padding: 4px 12px;
  border-radius: 16px;
  background-color: #ffda1f;
  margin: 0 0 16px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.modal__close {
  position: absolute;
  right: 30px;
  top: 28px;
}

.modal__close > img {
  width: 24px;
}

.modal__desc {
  font-family: IBMPlexSans;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: #000000;
  margin: 0 0 30px;
}

.modal__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.modal__input {
  position: relative;
  width: calc((100% - 16px) / 2);
  margin-bottom: 16px;
}

.modal__input > input {
  display: flex;
  align-items: center;
  width: 100%;
  height: 64px;
  padding: 0 24px;
  border: 1px solid #000000;
  border-radius: 16px;
  font-family: IBMPlexSans;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.modal__input > input::-moz-placeholder {
  color: #000000;
}

.modal__input > input:-ms-input-placeholder {
  color: #000000;
}

.modal__input > input::placeholder {
  color: #000000;
}

.modal__input.-phone::after {
  content: "";
  position: absolute;
  right: 24px;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  background-image: url(../img/phone.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.modal__submit {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 64px;
  border-radius: 16px;
  border: 1px solid #000000;
  background-color: #000000;
  font-family: IBMPlexSans;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  cursor: pointer;
  transition: 0.3s background;
}

.modal__submit:hover {
  background-color: #4f4f4f;
}

@media screen and (max-width: 830px) {
  .modal {
    max-width: calc(100vw - 30px);
  }
}

@media screen and (max-width: 767px) {
  .header__logo {
    margin: 0 auto;
  }

  .review__list {
    flex-wrap: wrap;
  }

  .review .item {
    width: 100%;
  }

  .review .item:not(:last-child) {
    margin-bottom: 24px;
  }

  .footer__row {
    flex-wrap: wrap;
  }

  .footer .col {
    width: 100%;
  }

  .footer .col:not(:last-child) {
    margin-bottom: 30px;
  }

  .footer__bottom {
    flex-direction: column;
  }

  .footer__develop {
    order: 2;
    margin-right: 0;
  }

  .footer .menu {
    flex-direction: column;
    order: 1;
    margin-bottom: 10px;
  }

  .footer .menu__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 5px;
  }

  .footer .menu__item:not(:first-child) > a::before {
    display: none;
  }

  .footer .menu__item > a {
    flex-direction: column;
  }
}

@media screen and (max-width: 576px) {
  .container {
    padding: 0 15px;
  }

  .basic .slider {
    margin: 0 0 47px;
  }

  .basic__count:hover > img {
    transform: translateX(5px);
  }

  .modal__input {
    width: 100%;
  }

  .modal__input > input {
    height: 50px;
    border-radius: 12px;
  }

  .modal__submit {
    height: 50px;
    border-radius: 12px;
  }
}

@media screen and (max-width: 567px) {
  .basic__title {
    font-size: 24px;
    line-height: 30px;
  }

  .basic__subtitle {
    font-size: 16px;
    line-height: 24px;
  }

  .basic .slider__slide {
    width: 100% !important;
    height: 290px;
  }
}

@media screen and (max-width: 475px) {
  .modal__container {
    padding: 20px;
  }

  .modal__close {
    right: 20px;
    top: 24px;
  }
}